
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div style="text-align:center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Softtek.gif" style="width:95%;height:auto;opacity:0.2;" border="0" alt="">
</div>