
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td><a href="/Interviewer/SelfAssessment" class="d-inline-block btn btn-sm btn-primary shadow-sm">Self assessment</a></td>
            <td><a href="/Interviewer/Interview" class="d-inline-block btn btn-sm btn-primary shadow-sm">Interview</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td><a href="/Interviewer/SelfAssessment" class="d-inline-block btn btn-sm btn-primary shadow-sm">Self assessment</a></td>
            <td><a href="/Interviewer/Interview" class="d-inline-block btn btn-sm btn-primary shadow-sm">Interview</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td><a href="/Interviewer/SelfAssessment" class="d-inline-block btn btn-sm btn-primary shadow-sm">Self assessment</a></td>
            <td><a href="/Interviewer/Interview" class="d-inline-block btn btn-sm btn-primary shadow-sm">Interview</a></td>
        </tr>
    </tbody>
</table>