@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Heading -->

<h2>Oncoming interviews</h2>


<div class="card">
    <div class="card-body">
        <h5 class="card-title">profile one</h5>
        <h6 class="card-subtitle mb-2 text-muted">Organization</h6>
        <p class="card-text">profile description</p>
        <a href="#" class="card-link d-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#SugModal">Suggested candidates</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">profile two</h5>
        <h6 class="card-subtitle mb-2 text-muted">Organization</h6>
        <p class="card-text">profile description</p>
        <a href="#" class="card-link d-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#SugModal">Suggested candidates</a>
    </div>
</div>

@*<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <partial name="_SuggestedCandidates" />
        </div>
    </div>
</div>*@

<div class="modal fade" id="SugModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suggested candidates for profile #</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_Candidates" />
            </div>
        </div>
    </div>
</div>
