
@{
    ViewData["Title"] = "Interview";
    ViewBag.Vista = "Interviewer";
}

<h2>Interview for profile #</h2>

<h3>Interviewer Evaluation</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Required skills</th>
            <th scope="col">Expertise</th>
            <th scope="col">Evaluation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>.net core</td>
            <td>3</td>
            <td>
                <select class="form-control">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>sql</td>
            <td>2</td>
            <td>
                <select class="form-control">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>

<div class="form-group">
    <label for="exampleFormControlTextarea1">Notes</label>
    <textarea class="form-control" rows="3"></textarea>
</div>

<a href="#" class="d-inline-block btn btn-sm btn-primary shadow-sm">Send feedback</a>



