
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="modal fade" id="AddSkillToProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="text-primary m-0 font-weight-bold">
                        Add skill to Profiile
                    </p>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Skill</strong></label>
                                <div class="dropdown">
                                    <select class="btn btn-primary dropdown-toggle" style="padding-right: 125px">
                                        <option value="1">Skill 1</option>
                                        <option value="2">Skill 2</option>
                                        <option value="3">Skill 3</option>
                                        <option value="4">Skill 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Level</strong></label>
                                <div class="dropdown">
                                    <select class="btn btn-primary dropdown-toggle" style="padding-right: 125px">
                                        <option value="1">Jr</option>
                                        <option value="2">Mid</option>
                                        <option value="3">Sr</option>
                                        <option value="4">Sr ++</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Save</a>
                </div>
            </div>
        </div>
    </div>