
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="modal fade" id="EditProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="text-primary m-0 font-weight-bold">
                        Edit Profile
                    </p>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Profile Name</strong></label>
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Customer</strong></label>
                                <div class="dropdown">
                                    <select class="btn btn-primary dropdown-toggle" style="padding-right: 125px">
                                        <option value="1">Volvo</option>
                                        <option value="2">Saab</option>
                                        <option value="3">Opel</option>
                                        <option value="4">Audi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Open Positions</strong></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Is Open</strong></label>
                                <div class="dropdown">
                                    <select class="btn btn-primary dropdown-toggle" style="padding-right: 125px">
                                        <option value="0">Close</option>
                                        <option value="1">Open</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Office</strong></label>
                                <div class="dropdown">
                                    <select class="btn btn-primary dropdown-toggle" style="padding-right: 125px">
                                        <option value="1">AGS</option>
                                        <option value="2">MTY</option>
                                        <option value="3">MTY</option>
                                        <option value="4">MTY</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label><strong>Level</strong></label>
                                <div class="dropdown">
                                    <select class="btn btn-primary dropdown-toggle" style="padding-right: 125px">
                                        <option value="1">Jr</option>
                                        <option value="2">Mid</option>
                                        <option value="3">Sr</option>
                                        <option value="4">Sr ++</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Save</a>
                </div>
            </div>
        </div>
    </div>