@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<label for="Name">Name</label>
<input type="text" class="form-control" id="Name" placeholder="The Name">
<br />
<label for="Email">Email address</label>
<input type="email" class="form-control" id="Email" placeholder="The email">
