@{
    ViewData["Title"] = "Customers";
    ViewBag.Vista = "Admin";
}

<h2>Customers <a class="btn btn-success btn-circle" href="/admin/customerform/0"><i class="fas fa-plus"></i></a></h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="customers" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            //Creating table based in a json response from REST API
            var table = $("#customers").DataTable({
                ajax: {
                    url: "api/admin/Customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='customerform/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "name",
                        render: function (data) {
                            return "<a href='' class='btn btn-danger btn-circle'><i class='fas fa-trash'></i></a>";
                        }
                    }
                ]
            });
        });
    </script>
}