@{
    ViewData["Title"] = "Customers";
    ViewBag.Vista = "Admin";
}

<h2>Customers</h2>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="customers" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            //type ahead for a specific field
            //var customers = new Bloodhound({
            //    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            //    queryTokenizer: Bloodhound.tokenizers.whitespace,
            //    remote: {
            //        url: '/api/customers?query=%QUERY',
            //        wildcard: '%QUERY'
            //    }
            //});

            //$('#customer').typeahead(
            //    {
            //        minLength: 3,
            //        highligth: true
            //    },
            //    {
            //        name: 'customers',
            //        display: 'name',
            //        source: customers
            //    }
            //).on("typeahead:select", function(e, customer) {
            //    vm.customerId = customer.id;
            //});

            //Creating table based in a json response from REST API
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/admin/Customerss",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"

                    },
                    {
                        data: "name"
                    }
                ]
            });
        });
    </script>
}