
@{
    ViewData["Title"] = "Admin";
    ViewBag.Vista = "Admin";
}

<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">E-mail</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>The admin</td>
            <td>admin@softtek.com</td>
            <td>Admin</td>
            <td>
                <a href="#" class="d-inline-block btn btn-circle btn-sm btn-warning shadow-sm" data-toggle="modal" data-target="#EditModal"><i class="fas fa-edit"></i></a>
            </td>
        </tr>
        <tr>
            <td>Interviewer1</td>
            <td>interviewer1@softtek.com</td>
            <td>Interviewer</td>
            <td>
                <a href="#" class="d-inline-block btn btn-circle btn-sm btn-warning shadow-sm" data-toggle="modal" data-target="#EditModal"><i class="fas fa-edit"></i></a>
                <a href="#" class="d-inline-block btn btn-circle btn-sm btn-danger shadow-sm" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        <tr>
            <td>Candidate1</td>
            <td>candidate1@softtek.com</td>
            <td>Candidate</td>
            <td>
                <a href="#" class="d-inline-block btn btn-circle btn-sm btn-warning shadow-sm" data-toggle="modal" data-target="#EditModal"><i class="fas fa-edit"></i></a>
                <a href="#" class="d-inline-block btn btn-circle btn-sm btn-danger shadow-sm" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_EditUser" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#">Save</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this user?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                <a class="btn btn-primary" href="#">Yes</a>
            </div>
        </div>
    </div>
</div>