
@{
    ViewData["Title"] = "SelfAssessment";
    ViewBag.Vista = "Candidate";
}

<h2>SelfAssessment</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Technology or skill</th>
            <th scope="col">Expertise</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> <strong>POO</strong> </td>
            <td></td>
        </tr>
        <tr>
            <td>Object Oriented programing</td>
            <td>
                <select class="form-control">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Reflection</td>
            <td>
                <select class="form-control">
                    <option selected>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>